//colors 

//Primary Colors

$color-intro-email: hsl(217, 28%, 15%);
$color-main-background: hsl(218, 28%, 13%);
$color-footer-bg: hsl(216, 53%, 9%);
$color-testimonial-bg: hsl(219, 30%, 18%);

//Accent Colors

$color-cta-bg1: hsl(176, 68%, 64%);
$color-cta-bg2: hsl(198, 60%, 50%);
$color-error: hsl(0, 100%, 63%);

//Neutral Color

$color-neutral-primary: hsl(0, 0%, 100%);