h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: white;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.2rem;
  color: white;
}

@media screen and (min-width: 700px) {
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
}

@media screen and (min-width: 700px) {
  a {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.btn {
  background-color: #339ecc;
  padding: 15px 100px;
  border-radius: 50px;
  color: white;
}

.btn:hover {
  background-color: #65e2d9;
}

html {
  height: 100vh;
}

body {
  position: relative;
  background-color: #9e9d9d;
}

header {
  background: #1c2431;
  min-height: 70px;
  width: 100%;
}

.header-container {
  background: #1c2431;
  width: 90%;
  min-height: 70px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo img {
  max-width: 100px;
  height: auto;
}

nav {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

nav ul {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

@media screen and (min-width: 700px) {
  nav li {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1200px) {
  nav li {
    margin-left: 50px;
  }
}

nav li p:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #65e2d9;
}

main {
  background-color: #1c2431;
  max-width: 100%;
  min-height: 100vh;
}

.hero1 {
  max-width: 100%;
  min-height: 350px;
  display: block;
  text-align: center;
  padding-bottom: 50px;
  background: url(images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-size: 800px auto;
  background-position: bottom;
  background-color: #1c2431;
}

@media screen and (min-width: 700px) {
  .hero1 {
    background: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: 1000px auto contain;
    background-position: bottom;
  }
}

.hero1 img {
  width: 80%;
  height: auto;
  padding: 50px 0px;
}

@media screen and (min-width: 700px) {
  .hero1 img {
    width: 70%;
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  .hero1 img {
    width: 60%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .hero1 img {
    width: 50%;
    height: auto;
  }
}

.hero1 h1 {
  padding: 0px 10px;
}

@media screen and (min-width: 700px) {
  .hero1 h1 {
    padding: 0px 90px;
  }
}

@media screen and (min-width: 992px) {
  .hero1 h1 {
    padding: 0px 170px;
  }
}

@media screen and (min-width: 1200px) {
  .hero1 h1 {
    padding: 0px 300px;
  }
}

.hero1 p {
  padding: 20px 10px 40px 10px;
}

@media screen and (min-width: 700px) {
  .hero1 p {
    padding: 20px 100px 40px 100px;
  }
}

@media screen and (min-width: 992px) {
  .hero1 p {
    padding: 20px 160px 40px 160px;
  }
}

@media screen and (min-width: 1200px) {
  .hero1 p {
    padding: 20px 300px 40px 300px;
  }
}

.hero1 a {
  margin-bottom: 100px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */