h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: white;
}

h1 {
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 556px) {
  h1 {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 556px) {
  h2 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

h3 {
  font-size: 1.4rem;
  line-height: 2.0rem;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 556px) {
  h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.7rem;
  color: white;
}

@media screen and (max-width: 992px) {
  p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 556px) {
  p {
    font-size: 0.875rem;
    line-height: 1.3rem;
  }
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
}

i {
  font-size: 2rem;
  margin-right: 20px;
  color: white;
}

i:hover {
  color: #65e2d9;
}

.btn {
  background-color: #339ecc;
  padding: 15px 100px;
  border-radius: 50px;
  color: white;
}

.btn:hover {
  background-color: #65e2d9;
}

html {
  height: 100vh;
}

body {
  position: relative;
  background-color: #181f2a;
}

header {
  background: #1c2431;
  min-height: 70px;
  width: 100%;
}

.header-container {
  background: #1c2431;
  width: 90%;
  min-height: 70px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo img {
  max-width: 100px;
  height: auto;
}

nav {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

nav ul {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav li {
  display: inline-block;
  margin-left: 40px;
}

@media screen and (max-width: 700px) {
  nav li {
    margin-left: 30px;
  }
}

@media screen and (max-width: 556px) {
  nav li {
    margin-left: 20px;
  }
}

nav li p:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #65e2d9;
}

main {
  max-width: 100%;
  min-height: 100vh;
  background-color: #6b6b68;
}

.hero1-container {
  max-width: 100%;
  min-height: 300px;
  background-color: #1c2431;
  background-image: url(images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

@media screen and (max-width: 556px) {
  .hero1-container {
    background-image: url(images/bg-curvy-mobile.svg);
    background-size: 700px;
  }
}

.hero1 {
  display: block;
  max-width: 700px;
  min-height: 300px;
  margin: 0px auto;
  padding: 50px 0px;
  text-align: center;
}

.hero1 img {
  width: 80%;
  height: auto;
}

.hero1 h1 {
  padding: 20px 10px;
}

.hero1 p {
  padding: 0px 100px 40px 100px;
}

@media screen and (max-width: 992px) {
  .hero1 p {
    padding: 0px 70px 40px 70px;
  }
}

@media screen and (max-width: 556px) {
  .hero1 p {
    padding: 0px 20px 40px 20px;
  }
}

.feature-container {
  max-width: 100%;
  background-color: #181f2a;
}

.feature-area {
  background-color: #181f2a;
  margin: 0px auto;
  max-width: 800px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0px;
}

.feature {
  text-align: center;
  min-height: 200px;
  padding: 40px 20px;
}

@media screen and (max-width: 556px) {
  .feature {
    padding: 20px 20px;
  }
}

.feature h3 {
  padding: 10px 0px;
}

.feature_card1, .feature_card2, .feature_card3, .feature_card4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}

.hero2-container {
  background-color: #181f2a;
  min-height: 300px;
  max-width: 100%;
}

.hero2 {
  background-color: #181f2a;
  max-width: 1000px;
  min-height: 500px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero2_img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  padding: 50px 10px;
  text-align: center;
}

.hero2_img img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .hero2_img img {
    width: 80%;
  }
}

@media screen and (max-width: 556px) {
  .hero2_img img {
    width: 100%;
  }
}

.hero2_content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  padding: 20px 50px;
}

@media screen and (max-width: 992px) {
  .hero2_content {
    padding: 20px 20px 100px 20px;
  }
}

.hero2_content p:first-of-type {
  padding: 20px 0px;
}

.hero2_content a {
  color: #65e2d9;
  line-height: 40px;
  padding-bottom: 5px;
  border-bottom: 2px solid #65e2d9;
}

.hero2_content a:hover {
  color: white;
  border-color: white;
}

.hero2_content a .hero2_icon {
  position: absolute;
  -webkit-transform: translate(4px, 2px);
          transform: translate(4px, 2px);
}

.testimonial-container {
  max-width: 100%;
  min-height: 10px;
  background-color: #181f2a;
  padding: 50px 0px;
}

@media screen and (max-width: 556px) {
  .testimonial-container {
    padding: 0px;
  }
}

.testimonial-area {
  max-width: 1100px;
  min-height: 100px;
  background-color: #181f2a;
  margin: 0px auto;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(images/bg-quotes.png);
  background-repeat: no-repeat;
}

.testimonial {
  min-height: 100px;
  background-color: #202a3c;
  padding: 20px 20px;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px #181f2a;
          box-shadow: 0px 0px 3px #181f2a;
}

.testimonial_card1, .testimonial_card2, .testimonial_card3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.testimonial_content p {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.testimonial_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 0px 0px;
}

.testimonial_profile img {
  width: 60%;
  border-radius: 50px;
}

.testimonial_image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.testimonial_name-title {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: block;
  margin-left: -10px;
}

.testimonial_name-title P:first-of-type {
  font-weight: 800;
  font-size: 0.85rem;
}

.testimonial_name-title P:last-of-type {
  font-weight: 200;
  font-size: 0.75rem;
  margin-top: -5px;
}

.subscription-container {
  max-width: 100%;
  background-color: #181f2a;
  min-height: 0px;
  padding: 0px 20px;
  position: relative;
}

.subscription {
  background-color: #1c2431;
  max-width: 700px;
  min-height: 200px;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

@media screen and (max-width: 556px) {
  .subscription p {
    margin: 20px 0px;
  }
}

.form-container {
  width: 100%;
  min-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 40px;
}

form input:first-of-type {
  background-color: white;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 300px;
          flex: 2 1 300px;
  margin-top: 10px;
  padding-left: 20px;
  border: 3px solid white;
}

form input:last-of-type {
  background-color: #339ecc;
  border: 1px solid #339ecc;
  color: white;
  font-weight: 800;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  margin-top: 10px;
}

form input:last-of-type:hover {
  background-color: #65e2d9;
}

.form_text-area {
  height: 40px;
  border-radius: 50px;
}

.form_button {
  height: 50px;
  border-radius: 50px;
  margin-left: 15px;
}

@media screen and (max-width: 556px) {
  .form_button {
    margin-left: 0px;
  }
}

footer {
  background-color: #0b1523;
  min-height: 200px;
  max-width: 100%;
  padding-top: 200px;
}

.footer_container1 {
  background-color: #0b1523;
  height: 70px;
  width: 90%;
  margin: 0px auto;
}

.footer_container2 {
  background-color: #fff;
  min-height: 200px;
  width: 90%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foot {
  background-color: #0b1523;
  min-height: 100px;
  padding: 20px 10px;
}

.foot_part1 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1;
          flex: 3 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .foot_part1 {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 600px;
            flex: 2 1 600px;
  }
}

.foot_part1 img {
  margin: 5px 20px 0px 0px;
}

.foot_part2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
}

@media screen and (max-width: 556px) {
  .foot_part2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
  }
}

.foot_part2 .telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot_part2 .telephone img {
  margin-right: 10px;
}

.foot_part2 .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.foot_part2 .email img {
  width: 26px;
  height: auto;
  margin: 5px 10px 0px 0px;
}

.foot_part3, .foot_part4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

@media screen and (max-width: 556px) {
  .foot_part3, .foot_part4 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    text-align: left;
  }
}

.foot_part3 a, .foot_part4 a {
  margin-bottom: 15px;
  color: white;
}

.foot_part5 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
  text-align: center;
}

@media screen and (max-width: 556px) {
  .foot_part5 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    text-align: left;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 0px 10px;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */