//Media Queries

@mixin media-query ($size) {

    @if $size == tablet {
        @media screen and (max-width: 992px) {
            @content;
        }
    }
    @if $size == mini-tablet {
        @media screen and (max-width: 700px) {
            @content;
        }
    }
    @if $size == mobile {
        @media screen and (max-width: 556px) {
            @content;
        }
    }
} 

//font family

$font-heading: 'Raleway', sans-serif;
$font-body: 'Open Sans', sans-serif;

//colors 

//Primary Colors

$color-intro-email: hsl(217, 28%, 15%);
$color-main-background: hsl(218, 28%, 13%);
$color-footer-bg: hsl(216, 53%, 9%);
$color-testimonial-bg: hsl(219, 30%, 18%);

//Accent Colors

$color-cta-bg1: hsl(176, 68%, 64%);
$color-cta-bg2: hsl(198, 60%, 50%);
$color-error: hsl(0, 100%, 63%);

//Neutral Color

$color-neutral-primary: hsl(0, 0%, 100%);

//Typography 

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    color: $color-neutral-primary;
}
h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
    font-weight: 700;

    @include media-query(tablet) {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    @include media-query(mobile) {
        font-size: 1.7rem;
        line-height: 2.2rem;
    }
}
h2 {
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 700;

    @include media-query(tablet) {
        font-size: 1.8rem;
        line-height: 2rem;
    }
    @include media-query(mobile) {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}
h3 {
    font-size: 1.4rem;
    line-height: 2.0rem;
    font-weight: 700;

    @include media-query(tablet) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    @include media-query(mobile) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}
p {
    font-family: $font-body;
    font-size: 1rem;
    line-height: 1.7rem;
    color: $color-neutral-primary;
    
    @include media-query(tablet){
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    @include media-query(mobile){
        font-size: 0.875rem;
        line-height: 1.3rem;
    }
}
a {
    text-decoration: none;
    font-family: $font-body;
    font-size: 0.875rem;
}

// Genereal Component 

.btn {
    background-color: $color-cta-bg2;
    padding: 15px 100px;
    border-radius: 50px;
    color: white;

    &:hover {
        background-color: $color-cta-bg1;
    }
}

//Base styling 

html {
    height: 100vh;
}
body {
    position: relative;
    background-color: rgb(158, 157, 157);
}


//header styling

header {
    background: $color-intro-email;
    min-height: 70px;
    width: 100%;
}
.header-container {
    background: $color-intro-email;
    width: 90%;
    min-height: 70px;
    margin: 0px auto; 
    display: flex;
    align-items: center;
}
.logo {
    flex: 1;

    img {
        max-width: 100px;
        height: auto;
    }
}
nav {
    flex: 3;
    ul {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    li {
        display: inline-block;
        margin-left: 40px;  

        @include media-query(mini-tablet) {
            margin-left: 30px;  
        }
        @include media-query(mobile) {
            margin-left: 20px;  
        }
        & p:hover {
            transition: 0.5s;
            color: $color-cta-bg1;
        }
    }
}
main {
    max-width: 100%;
    min-height: 100vh;
    background-color: rgb(107, 107, 104);
}
.hero1-container {
    max-width: 100%;
    min-height: 300px;
    background-color: $color-intro-email;
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    @include media-query(mobile) {
        background-image: url(images/bg-curvy-mobile.svg);
        background-size: 700px;
    }
}
.hero1 {
    display: block;
    max-width: 700px;
    min-height: 300px;
    margin: 0px auto;
    padding: 50px 0px;
    text-align: center;
    img {
        width: 80%;
        height: auto;
    }
    h1 {
        padding: 20px 10px;
    }
    p {
        padding: 0px 100px 40px 100px;

        @include media-query(tablet) {
            padding: 0px 70px 40px 70px;
        }
        @include media-query(mobile) {
            padding: 0px 20px 40px 20px;
        }
    }
}
.feature-container {
    max-width: 100%;
    background-color: hsl(218, 28%, 13%);
}
.feature-area {
    background-color: hsl(218, 28%, 13%);
    margin: 0px auto;
    max-width: 800px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
}
.feature {
    text-align: center;
    min-height: 200px;
    padding: 40px 20px;

    @include media-query(mobile) {
        padding: 20px 20px;
    }

    h3 {
        padding: 10px 0px;
    }

    &_card1, &_card2, &_card3, &_card4 {
        flex: 1 1 250px;
    }
}

.hero2-container {
    background-color: hsl(218, 28%, 13%);
    min-height: 300px;
    max-width: 100%;
}
.hero2 {
    background-color: hsl(218, 28%, 13%);
    max-width: 1000px;
    min-height: 500px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &_img {
        flex: 1 1 400px;
        padding: 50px 10px;
        text-align: center;

        img {
            width: 100%;

            @include media-query(tablet) {
                width: 80%;
            }
            @include media-query(mobile) {
                width: 100%;
            }
        }
    }
    &_content {
        flex: 1 1 400px;
        padding: 20px 50px;

        @include media-query(tablet) {
            padding: 20px 20px;
        }

        p:first-of-type {
            padding: 20px 0px;
        }
        a {
            color: $color-cta-bg2;
            line-height: 40px;
            padding-bottom: 5px;
            border-bottom: 2px solid $color-cta-bg2;

            &:hover {
                color: $color-cta-bg1;
                border-color: $color-cta-bg1;
            }
        }
    }
}

.testimonial-container {
    max-width: 100%;
    min-height: 10px;
    background-color: $color-main-background;
    padding: 50px 0px;
}
.testimonial-area {
    max-width: 1100px;
    min-height: 100px;
    background-color: $color-main-background;
    margin: 0px auto;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    background-image: url(images/bg-quotes.png);
    background-repeat: no-repeat;
}

.testimonial {
//    width: 320px;
    min-height: 100px;
    background-color: $color-testimonial-bg;
    padding: 20px 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px $color-main-background;

    &_card1, &_card2, &_card3 {
        flex: 1 1 200px;
    }

    &_content {

        p {
            font-size: 0.9rem;
            line-height: 1.4rem;
        }
    }
    &_profile {

        img {
            width: 60%;
            border-radius: 50px;
        }


        display: flex;
        align-items: center;
        padding: 10px 0px;
    }
}


.testimonial {
    &_image {
        flex: 1;
    }
    &_name-title {
        flex: 5;
        display: block;
        margin-left: -10px;

        P:first-of-type {
            font-weight: 800;
            font-size: 0.85rem;;
        }

        P:last-of-type {
            font-weight: 200;
            font-size: 0.75rem;
            margin-top: -5px;
        }
    }
}




.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} 